<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" type="text/css" href="/../frontend/style.css" />
	    <link rel="icon" type="image/png" href="/frontend/image/logo.png" />
		<title>{{title}}</title>
	</head>
	<body>
		<header>
			<div id="header_logo">
				<a href="/">
					<img src="/frontend/image/logo.png" id="logo" title="DuckDiary.com" width="50px" height="50px">
					<span class="site_name">DuckDiary</span>
				</a>
			</div>
			<div id="header_buttons">
				{% block buttons %}{% endblock %}
			</div>
		</header>
		<aside>
        	{% block aside%}{% endblock %}
		</aside>
		<article>
        	{% block article %}{% endblock %}
		</article>
		<footer>
			<div id="footer_menu">
				<a href="/about">О нас</a>
				<a href="/contacts">Обратная связь</a>
			</div>
			<div id="footer_site_name">
				<a href="/"><span class="site_name">DuckDiary</span></a>
			</div>
		</footer>
	</body>
</html>