{% extends "base_for_user.html" %}

{% block buttons %}
	<a href="/Logout" class="btn">Выйти</a>
    <a href="/Del/group/{{data['id']}}" class="btn">Удалить кружок</a>
{% endblock %}

{% block article %}
	<div id="settings">
		<h1>Настройки</h1>
		<form action="" method="post" enctype="multipart/form-data" id="settings" novalidate>
	        {{ form.hidden_tag() }}
	        {% for f in form %}
                {% if f != form.csrf_token %}
                    {% if f != form.submit %}
                        <div>
                            {{ f.label }}<br>
                            <!-- {{ f.type }} -->
                            {% if f.type == form.monday.type %}
                                <!-- {{f.name, 'Понедельник'}} -->
                           <!-- {data['Понедельник']}}
                                {{data}} -->
                                <!-- {{data[f.name]}} -->
                                {{ f(checked=data[f.name])}}<br />
                            {% else %}
                                {{ f(value=data[f.name])}}<br />
                            {% endif %}
                            {% for error in f.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div>{{form.submit()}}</div>
                    {% endif %}
                {% endif %}
            {% endfor %}
    	</form>
	</div>
{% endblock %}