{% extends "base_for_user.html" %}

{% block buttons %}
	<a href="/Logout" class="btn">Выход</a>
{% endblock %}

{% block article %}
	<div id="clubs">
		<h1>Кружки</h1>
		<a href="/clubs/create" class="btn">Создать кружок</a>
		<a href="/clubs?local={{mode[0]}}" class="btn">{{mode[1]}}</a>
		<br />
		<div id="clubs_list">
			{% if data %}
				{% for club in data %}
					<div class="club" title="{{club['description']}}">
							<a href="/clubs/{{club['id']}}">
								<img src="/image/club/{{club['id']}}" width="80px" height="80px">
								<span>{{club['name']}}</span>
								<span>Участников: {{club['clubs_row']}}</span>
							</a>
					</div>
				{% endfor %}
			{% else %}
				<span>Тут пусто</span>
			{% endif %}
		</div>
	</div>
{% endblock %}